
<!DOCTYPE html>
<html lang="en">
<head>
    <title id='Description'></python></title>
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="static/css/agency.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css"  href="static/jqx.base.css" />
    <script type="text/javascript" src="static/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="static/jqxcore.js"></script>
    <script type="text/javascript" src="static/jqxdata.js"></script>
    <script type="text/javascript" src="static/jqxbuttons.js"></script>
    <script type="text/javascript" src="static/jqxscrollbar.js"></script>
    <script type="text/javascript" src="static/jqxmenu.js"></script>
    <script type="text/javascript" src="static/jqxgrid.js"></script>
    <script type="text/javascript" src="static/jqxgrid.selection.js"></script>
    <script type="text/javascript" src="static/jqxgrid.columnsresize.js"></script>
    <script type="text/javascript" src="static/jqxlistbox.js"></script>
    <script type="text/javascript" src="static/jqxdropdownbutton.js"></script>
    <script type="text/javascript" src="static/jqxgrid.pager.js"></script>
    <script type="text/javascript" src="static/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="static/demos.js"></script>


    <script type="text/javascript">
        
    function generatedata(rowscount, hasNullValues) {
        // prepare the data
        var data = new Array();
        if (rowscount == undefined) rowscount = {{n}};
        
        var firstNames =
        [
            {% for p in faktur %} "{{p.Nama}}", {% endfor %}
        ];

        var lastNames =
        [
            {% for p in faktur %} "{{p.no}}", {% endfor %} 
        ];

        var productNames =
        [
            {% for p in faktur %} "{{p.Barang}}", {% endfor %}
        ];

        var priceValues =
        [
             {% for p in faktur %} "{{p.harga}}", {% endfor %}
        ];

        var quantity =
        [
             {% for p in faktur %} "{{p.Qty}}", {% endfor %}
        ];

        for (var i = 0; i < rowscount; i++) {
            var row = {};
            var productindex = Math.floor(Math.random() * productNames.length);
            row["id"] = i;
            row["available"] = productindex % 2 == 0;
            if (hasNullValues == true) {
                if (productindex % 2 != 0) {
                    var random = Math.floor(Math.random() * rowscount);
                    row["available"] = i % random == 0 ? null : false;
                }
            }
            row["firstname"] = firstNames[i];
            row["lastname"] = lastNames[i];
            row["productname"] = productNames[i];
            row["price"] = parseFloat(priceValues[i]);
            row["quantity"] = parseFloat(quantity[i]);
            row["total"] = row["price"]  * row["quantity"];

            var date = new Date();
            date.setFullYear(2016, Math.floor(Math.random() * 12), Math.floor(Math.random() * 27));
            date.setHours(0, 0, 0, 0);
            row["date"] = date;
           
            data[i] = row;
        }

        return data;
    }

    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            // prepare the data
            var data = generatedata({{n}});

            var source =
            {
                localdata: data,
                datafields:
                [
                    { name: 'firstname', type: 'string' },
                    { name: 'lastname', type: 'string' },
                    { name: 'productname', type: 'string' },
                    { name: 'quantity', type: 'number' },
                    { name: 'price', type: 'number' },
                    { name: 'total', type: 'number' }
                ],
                datatype: "array",
                updaterow: function (rowid, rowdata) {
                    // synchronize with the server - send update command   
                }
            };

            var dataAdapter = new $.jqx.dataAdapter(source);

            $("#jqxgrid").jqxGrid(
             {
                 width: 550,
                 source: dataAdapter,
                 pageable: true,
                 autoheight: true,
                 columnsresize: true,
                 columns: [
                   { text: 'Customer', columntype: 'textbox', datafield: 'firstname', width: 90 },
                   { text: 'No fak', columntype: 'textbox', datafield: 'lastname', width: 90 },
                   { text: 'Product', columntype: 'dropdownlist', datafield: 'productname', width: 100 },
                   { text: 'Qty', datafield: 'quantity', width: 70, cellsalign: 'right' },
                   { text: 'Harga', datafield: 'price', cellsalign: 'right', cellsformat: 'c2' },
                   { text: 'Total', datafield: 'total', cellsalign: 'right', cellsformat: 'c2' }
                 ]
             });

            // initialize jqxGrid
            $("#jqxdropdownbutton").jqxDropDownButton({
                width: 150, height: 25
            });

            $("#jqxgrid").on('rowselect', function (event) {
                var args = event.args;
                var row = $("#jqxgrid").jqxGrid('getrowdata', args.rowindex);
                var dropDownContent = '<div style="position: relative; margin-left: 3px; margin-top: 5px;">' + row['firstname']+ '</div>';
                $("#jqxdropdownbutton").jqxDropDownButton('setContent', dropDownContent);
            });

            $("#jqxgrid").jqxGrid('selectrow', 0);

        });
    </script>
	
		<style>
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 
</style>
</head>
<body class='default'>
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top" style="background: #222">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top" >{{user.name}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/home">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/input">Input</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/data">Data</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/utility">Utility</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/acounting">Acounting</a>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="page-scroll" data-toggle="dropdown"  style="border: none; background-color:#222; color:#ffffff;margin-top: 13px">
                                <a href="#"><label style="color:#ffffff;font-family: Helvetica, Arial, sans-serif;">laporan&nbsp;</a>
                                <span class="caret"></span></button>
                                        <ul class="dropdown-menu" >
                                        <li><a href="#"><label style="color: #222">utang</label></a></li>
                                        <li><a href="#"><label style="color: #222">piutang</label></a></li>
                                        <li><a href="#"><label style="color: #222">omset</label></a></li>
                                        <li class="divider"></li>
                                        <li><a href="#" style="color: #222">About Us</a></li>
                                </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
   		<br/> <br/> <br/> <br/><br/><br/>


    	<div id='jqxWidget' >
        	<div id="jqxdropdownbutton">
            	<div style="border-color: transparent;" id="jqxgrid"></div>
        	</div>
    	</div>
	</div>
    <br/> <br/> <br/> <br/><br/><br/><br/> <br/> <br/> <br/><br/><br/><br/> <br/> <br/> <br/><br/><br/><br/> <br/> <br/> <br/><br/><br/>
     <footer>
        <div class="container">
		<hr>
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Avasoft 2016</span>
                </div>
            </div>
        </div>
    </footer>

    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="static/js/jqBootstrapValidation.js"></script>
    <script src="static/js/contact_me.js"></script>

</body>
</html>
