<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></python></title>
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <link href="static/css/agency.min.css" rel="stylesheet">


    <link href="static/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
    <link href="static/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
    <link href="static/sb-admin-2.css" rel="stylesheet">


  

</head>

<body>
 <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top" style="background: #222">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top" >{{user.name}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/home">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/input">Input</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/data">Data</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/utility">Utility</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/acounting">Acounting</a>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="page-scroll" data-toggle="dropdown"  style="border: none; background-color:#222; color:#ffffff;margin-top: 13px">
                                <a href="#"><label style="color:#ffffff;font-family: Helvetica, Arial, sans-serif;">laporan&nbsp;</a>
                                <span class="caret"></span></button>
                                        <ul class="dropdown-menu" >
                                        <li><a href="#"><label style="color: #222">utang</label></a></li>
                                        <li><a href="#"><label style="color: #222">piutang</label></a></li>
                                        <li><a href="#"><label style="color: #222">omset</label></a></li>
                                        <li class="divider"></li>
                                        <li><a href="#" style="color: #222">About Us</a></li>
                                </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
           <br> <br> <br> <br> <br> <br> <br>

                        <div class="container"  style="color:#222;font-family: Helvetica, Arial, sans-serif;font-size: 10px">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Rendering engine</th>
                                        <th>Browser</th>
                                        <th>Platform(s)</th>
                                        <th>Engine version</th>
                                        <th>CSS grade</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for z in z %}
                                    <tr class="odd gradeX">
                                        <td>{{z[0]}}</td>
                                        <td>{{z[1]}}</td>
                                        <td>{{z[2]}}</td>
                                        <td>{{z[3]}}</td>
                                        <td>{{z[4]}}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            </div>
             
                            
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="static/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="static/vendor/datatables-responsive/dataTables.responsive.js"></script>

    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>

</body>

</html>
